.table {
    margin: 15px;
    font-family: "Press Start 2P", sans-serif; /* Retro font */
    box-shadow:
            0 0 10px rgba(255, 255, 255, 0.3), /* Outer glow */
            0 6px 12px rgba(0, 0, 0, 0.5); /* Shadow for depth */
    transition: transform 0.2s, box-shadow 0.3s, background 0.3s;

    width: -webkit-fill-available;
    height: 44px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #4a4e69;
    border-radius: 10px;
    background-color: #1e1e2e;
    color: #fff;
    text-align: center;
}
.table-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-width: 1px;
    font-weight: 700;
    text-transform: uppercase;
}

.disabled {
    outline-style: none;
    cursor: not-allowed;
    opacity: 0.5;
}
.bg-hover {
    background: linear-gradient(90deg, #6c757d, #343a40);
}

.cursor-pointer {
    cursor: pointer;
}

.select-container {
    display: inline;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}
.select {
    display: inline;
    padding: 0.625rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #9CA3AF;
    color: #111827;
    background-color: buttonface;
}

.font {
    font-family: "Orbitron", sans-serif;
}

.pagination-container {
    margin-bottom: 0.25rem;
    justify-content: space-between;
}
.pagination-info {
    display: inline-flex;
    margin-bottom: 5px;
    position: relative;
    align-items: center;
}
.pagination-buttons-container {
    margin-bottom: 0.25rem;
    justify-self: center;
    position: relative;
    margin-left: 0.75rem;
    align-items: center;
}

.block {
    display: block;
}

.per-page-label {
    margin-right: 5px;
}